/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --header-height: 3rem;
  /* _________Colors____________ */
  /* change color of all the page */
  --hue-color: 223;
  --primary-color: hsl(var(--hue-color), 74%, 71%);
  --primary-color-2: hsl(var(--hue-color), 69%, 61%);
  --primary-color-alt: hsl(var(--hue-color), 57%, 45%);
  --secondary--color: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 15%, 82%);
  --input-color: hsl(var(--hue-color), 45%, 83%);
  --body-color: hsl(var(--hue-color), 70%, 96%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --container-color: #fff;
  /* _________font and typography___________ */
  --body-font: "Poppins", sans-serif;
  /* font-size: 62.5%; // 
  1rem  = 10px;
  10/16 = 62.5% */
  font-size: 62.5%;
  --big-font-size: 3.2rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;
  /* _________font-weight__________ */
  --font-medium: 500;
  --font-semi-bold: 600;
  /* __________margin__________ */
  --m-0-4: 0.4rem;
  --m-0-8: 0.8rem;
  --m-1-2: 1.2rem;
  --m-1-6: 1.6rem;
  --m-2-4: 2.4rem;
  --m-3-2: 3.2rem;
  --m-4-0: 4rem;
  --m-4-8: 4.8rem;
  /* ___________z-index_____________ */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 4.8rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.8rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

/* _______________base_______________ */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ********dark-theme variables */

body.dark-theme {
  --hue-color: 230;
  --primary-color-dark: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 0%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --text-color-light: hsl(var(--hue-color), 15%, 82%);
}

/* ___________reusable css classes___________ */

.section {
  padding: 3.2rem 0 6.4rem;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--m-4-8);
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 768px;
  margin-left: var(--m-2-4);
  margin-right: var(--m-2-4);
}

.grid {
  display: grid;
  gap: 2.4rem;
}

/* _________header_______________ */

.circle {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: -0.3rem;
  margin-right: 0.3rem;
  background-color: #63a4ff;
  background-image: linear-gradient(
    315deg,
    var(--primary-color) 0%,
    var(--primary-color-alt) 74%
  );
}

header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*_________nav_________*/

.nav__btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--m-1-6);
  cursor: pointer;
}
.change-theme:hover {
  color: var(--primary-color);
}
.theme-icon {
  font-size: 1.8rem;
}

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--primary-color);
}

.nav__toggle {
  font-size: 1.8rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 3.2rem 2.4rem 6.4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2.4rem 2.4rem 0 0;
    transition: 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--primary-color);
}

.nav__icon {
  font-size: 1.9rem;
}

.nav__close {
  position: absolute;
  right: 2rem;
  bottom: 0.51rem;
  background-origin: 0.8rem;
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--primary-color);
}

.nav__close:hover {
  color: var(--primary-color-alt);
}

/* show menu */

.show-menu {
  bottom: 0;
}

/* active */
.active-link {
  color: var(--primary-color);
}

/* header-shadow */
.scroll-header {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
}
/*+++++++++ section home +++++++++*/

.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: 1fr 3fr;
  padding-top: 5.6rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1.6rem;
}

.home__social-icon {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.home__social-icon:hover {
  color: var(--primary-color-alt);
}

.home__svg {
  width: 200px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--m-1-2);
}

.home__description {
  margin-bottom: var(--m-3-2);
}

/* scroll button */

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--primary-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.4rem);
}

.home__scroll-mouse {
  font-size: 3.2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  counter-reset: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--m-0-4);
}

.home__scroll-arrow {
  font-size: 2rem;
}

/* button */

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:active,
button:focus {
  outline: none;
  transform: translateY(1rem);
  box-shadow: 0 1rem 1rem rgba(#000, 0.5);
}

.button:hover {
  background-color: var(--primary-color-alt);
  transform: scale(1.05);
}

.button__icon {
  font-size: 1.5rem;
  margin-left: var(--m-0-8);
  transform: 0.3s;
}
.button-white {
  background-color: #fff;
  color: var(--primary-color);
  margin-bottom: var(--m-4-8);
}
.button-white:hover {
  background-color: whitesmoke;
}
.button-flex {
  display: inline-flex;
  align-items: center;
}

.button:active {
  transform: translateY(2px);
}
.contact__button {
  border: none;
}

/*+++++++++ section about +++++++++*/

.about__img {
  width: 20rem;
  justify-self: center;
  align-self: center;
  transform: rotate(-47deg);
  margin-bottom: var(--m-3-2);
  margin-top: var(--m-1-6);
  position: relative;
}

.about__img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0.25rem solid var(--primary-color);
  top: 1.5rem;
  right: -2rem;
  border-radius: 1.5rem;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about__img-photo {
  border-radius: 1.5rem;
}

.about__description {
  text-align: center;
  margin-bottom: var(--m-4-0);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--m-4-0);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/*+++++++++ section skills +++++++++*/

.skills__container {
  row-gap: 0;
}
.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--m-4-0);
}
.skills__icon,
.skills__arrow {
  font-size: 3.2rem;
  color: var(--primary-color);
}

.skills__icon {
  margin-right: var(--m-1-2);
}

.skills__titles {
  font-size: var(--h3-font-size);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}
.skills__list {
  row-gap: 3.4rem;
  padding-left: 4.4rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--m-0-8);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.skills__bar,
.skills__percentage {
  height: 0.8rem;
  border-radius: 0.25rem;
}
.skills__bar {
  background-color: var(--primary-color);
}
.skills__percentage {
  display: block;
  background-color: var(--primary-color-alt);
}
/* frontend skills */
.skills__html {
  width: 90%;
}

.skills__css {
  width: 80%;
}

.skills__js {
  width: 75%;
}

.skills__react {
  width: 65%;
}
/* backend skills */
.skills__php {
  width: 70%;
}
.skills__node {
  width: 60%;
}
.skills__android {
  width: 55%;
}
.skills__java {
  width: 65%;
}
.skills__python {
  width: 55%;
}
/* Design Skills */
.skills__xd {
  width: 70%;
}
.skills__figma {
  width: 60%;
}
/* Speaking languages */

.skills__pr {
  width: 95%;
}
.skills__en {
  width: 75%;
}
.skills__tr {
  width: 90%;
}
.skills__ur {
  width: 70%;
}
.skills__de {
  width: 50%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: var(--m-2-4);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* Qualification */

.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--m-3-2);
}

.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification__button:hover {
  color: var(--primary-color);
}

.qualification__icon {
  font-size: 3rem;
  margin-right: 0.4rem;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 2.4rem;
}

.qualification__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--m-1-6);
}

.qualification__calender {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualification__rounder {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--primary-color);
  transform: translate(0.6rem, -0.7rem);
}

/* hide work and education */

.qualification [data-content] {
  display: none;
}

/* unhide education  */

.qualification__active[data-content] {
  display: block;
}

/* **********Portfolio */

.portfolio {
  grid-column: 2/14;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  color: #000;
  margin-top: var(--m-4-8);
}

.portfolio__box {
  padding: 2rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  overflow: hidden;
}

.portfolio__box-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  background-color: #fff;
  transition: 0.3s ease-in;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  transform: translateY(100%);
}

.portfolio__box:hover .portfolio__box-description {
  transform: translateY(30%);
}

.portfolio__box-link {
  width: 20%;
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

.portfolio__box-link i {
  color: #000;
}

.portfolio__box-link i:hover {
  color: var(--primary-color);
}

.portfolio__box-content {
  align-self: center;
}

.portfolio__box-content h2 {
  margin-bottom: var(--m-3-2);
  padding-bottom: 3.5rem;
}

/* Defining color for each portfolio child */

.portfolio .portfolio__box:nth-child(1) {
  background: linear-gradient(180deg, #bab1a9, #feedca);
}

.portfolio .portfolio__box:nth-child(2) {
  background: linear-gradient(180deg, #b1e5f9, #f4d2fe);
}

.portfolio .portfolio__box:nth-child(3) {
  background: linear-gradient(180deg, #dbb4f3, #efb7d7);
}

.portfolio .portfolio__box:nth-child(4) {
  background: linear-gradient(180deg, #efa971, #e4cafe);
}

.portfolio .portfolio__box:nth-child(5) {
  background: linear-gradient(90deg, #b1e5f9, #f4d2fe);
}

.portfolio .portfolio__box:nth-child(6) {
  background-color: #90d5ec;
  background-image: linear-gradient(315deg, #90d5ec 0%, #e79195 74%);
}
/* ********Project section */
.project {
  text-align: center;
}
.project__bg {
  background-color: var(--primary-color);
  padding: 4.8rem;
}
.project__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--m-1-2);
}
.project__description {
  margin-bottom: var(--m-2-4);
}
.project__title,
.project__description {
  color: #fff;
}
.project__img {
  width: 23.2rem;
  justify-self: center;
}

/* *********************Contact Me */

.contact__container {
  row-gap: 3rem;
}
.contact__information {
  display: flex;
  margin-bottom: var(--m-3-2);
}
.contact__icon {
  font-size: 3.2rem;
  color: var(--primary-color);
  margin-right: var(--m-1-2);
}
.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.contact__content {
  background-color: var(--input-color);
  border-radius: 0.8rem;
  padding: 1.2rem 1.6rem 0.4rem;
}
.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}
.contact__label {
  font-size: var(--small-font-size);
  color: var(--title-color);
}
.contact__input {
  width: 100%;
  background-color: var(--input-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 0.4rem 0.8rem 0.8rem 0;
}

/* ***************Footer */

.footer {
  padding-top: 3.2rem;
}

.footer__container {
  row-gap: 4.8rem;
}
.footer__bg {
  background-color: var(--primary-color);
  padding: 3.2rem 0 4.8rem;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--m-0-4);
}
.footer__subtitle {
  font-size: var(--small-font-size);
}
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
.footer__link:hover {
  color: var(--primary-color-2);
}
.footer__social {
  font-size: 2rem;
  margin-right: var(--m-2-4);
}
.footer__social:hover {
  color: var(--primary-color-alt);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  /* margin-top: var(--m-4-0); */
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #fff;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--primary-color);
  opacity: 0.9;
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  z-index: var(--z-tooltip);
  transition: 0.3s;
}
.scrollup:hover {
  background-color: var(--primary-color-alt);
}
.scrollup-icon {
  font-size: 2.4rem;
  color: #fff;
}

/* show scroll */

.show-scroll {
  bottom: 5rem;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.8rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(155, 158, 161);
}

/******************** Media Quries small device*/
@media screen and (max-width: 250px) {
  .container {
    margin-left: var(--m-1-6);
    margin-right: var(--m-1-6);
  }

  .nav__menu {
    padding: 3.2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
  .skills__title {
    font-size: var(--normal-font-size);
  }
  .qualification__data {
    gap: 0.5rem;
  }
  .project__img {
    width: 20rem;
  }
}
/******************** Media Quries medium device*/

@media screen and (min-width: 575px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    order: 1;
    justify-self: center;
  }
  .about__container,
  .portfolio__container,
  .skills__container,
  .project__container,
  .contact__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about__img {
    margin-bottom: 14rem;
    margin-right: 2rem;
  }
  .about__img img {
    max-width: 95%;
  }
  .about__img::before {
    content: "";
    height: 100%;
    width: 95%;
    margin-right: 0.5rem;
  }
  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }
  .section {
    padding: 8rem 0 3.2rem;
  }
  .section__subtitle {
    margin-bottom: 6.4rem;
  }

  .header,
  .main,
  .footer__container,
  .about__container,
  .portfolio__container {
    padding: 0 1rem;
  }
  .header {
    top: 0;
    bottom: initial;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1.6rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 3.2rem;
  }

  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0;
  }

  .theme-icon {
    margin-bottom: 3px;
  }
  .home__container {
    row-gap: 8rem;
  }
  .home__content {
    padding-top: 20rem;
    column-gap: 3.2rem;
  }
  .home__img {
    width: 29rem;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 4.8rem;
  }
  .about__container {
    column-gap: 8rem;
  }
  .about__img {
    width: 25rem;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }
  .about__buttons {
    justify-content: initial;
  }
  .qualification__tabs {
    justify-content: center;
  }
  .qualification__button {
    margin: 0 var(--m-1-6);
  }
  .qualification__sections {
    grid-template-columns: 0.5fr;
  }

  .project {
    text-align: initial;
  }
  .project__bg {
    background: none;
    padding: 1rem;
  }
  .project__container {
    background-color: var(--primary-color-2);
    border-radius: 1rem;
    padding: 4.8rem 4rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }
  .project__data {
    padding-top: 0.8rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 4.8rem 0 5.2rem;
  }
  .footer__links {
    flex-direction: row;
    column-gap: 2.2rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

/* Media query for large Screen */

@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }
  .home__img {
    width: 35rem;
  }
  .home__social {
    transform: translateX(-9.6rem);
  }

  .skills {
    margin-top: 11rem;
  }

  .portfolio__container {
    column-gap: 8rem;
  }
  .contact__form {
    width: 46.5rem;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
